<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account check</title>
</head>
<body>
<div>Контакты человека:</div>
<a th:text="${'name : ' + user.getName() + ', surname : ' + user.getSurname() + ', mail' + user.getMail()}"></a>
<div>Баланс: </div>
<a th:text="${account.getBalance()}"> </a>
<br/>
<div>Id аккаунта</div>
<a th:text="${'account id : ' + account.getId()}"></a>
<br/>
<a th:href="@{/user/account/selectedUser/{id}(id=${account.getId()})}">Перевести деньги</a>
<br/>
<a th:href="@{/user/account/add-money/{id}(id=${account.getId()})}">Пополнить счет</a>
<br/>
<a th:href="@{http://localhost:8080/person/edit/{id}(id=${account.getId()})}">Отредактировать данные о владельце аккаунта</a>
</body>
</html>